body {
  font-family: montserratbold,Arial,Helvetica,sans-serif,
    Arial, sans-serif;
  margin:0;
}

.linkedIn-link{
  /* font-weight: bold; */
  color: blue;
}

.linkedIn-link:hover{
  cursor: pointer;
}

.mainContainer{
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  position: relative;
  overflow-x: hidden;
}
.header{
  width: 100%;
  height: 12%;
  background-color: rgba(37, 37, 39, 1);
}

.rowContainer{
  display: flex;
  height: 88%;
}
.tabs .ant-tabs-tab-active{
  background: #d9363e !important;
}
/* .changeBg .ant-float-btn-body{
  background-color: #d9363e;
} */
.tabs .ant-tabs-tab-active div{
  color:white !important;
}
.border td{
  border-bottom:1px solid black !important;
  padding-block: 5px !important;
}
.summaryColumn.left{
  border-left: 1px solid #f0f0f0;
}
.summaryColumn.right{
  border-right: 1px solid #f0f0f0;
}
.summaryBackgroundChange{
  background-color: #e7e7e7 !important;
}
.table{
  width: 100%;
  border-spacing: 0;
}
.table *{
  border: 1px solid black;
  text-align: center;
  font-size: .8rem;
  padding-block: 10px;
}
.table thead th:not(#empty),
.table thead td{
  background-color: #c7c7c7;
  max-width: 100px;
}

.oddColumn{
  background-color: #c7c7c7;
}

.important{
  font-weight: 800;
}